/* legend */

.legend {
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    margin-top: 1px;
}

div.legend.leaflet-control br {
    clear: both;
}

.circle {
    float: left;
    border-radius: 50%;
}

/* marker clusters */

.marker-pmcluster {
    background-color: rgba(145, 205, 255, 0.6);
}

.marker-pmcluster div {
    background-color: rgba(45, 105, 155, 0.6);
}

.marker-coqcluster {
    background-color: rgba(186, 159, 204, 0.6);
}

.marker-coqcluster div {
    background-color: rgba(86, 59, 104, 0.6);
}

.marker-pccluster {
    background-color: rgba(235, 242, 157, 0.6);
}

.marker-pccluster div {
    background-color: rgba(135, 142, 57, 0.6);
}

.marker-mvcluster {
    background-color: rgba(181, 207, 222, 0.6);
}

.marker-mvcluster div {
    background-color: rgba(81, 107, 122, 0.6);
}

.marker-cluster div {
    color: white;
}